# POKY_BBLAYERS_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
POKY_BBLAYERS_CONF_VERSION = "2"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
  ##OEROOT##/meta \
  ##OEROOT##/meta-poky \
  \
  ##OEROOT##/../meta-openembedded/meta-oe \
  ##OEROOT##/../meta-openembedded/meta-multimedia \
  ##OEROOT##/../meta-openembedded/meta-python \
  \
  ##OEROOT##/../meta-freescale \
  ##OEROOT##/../meta-freescale-3rdparty \
  ##OEROOT##/../meta-freescale-distro \
  \
  ##OEROOT##/../meta-imx/meta-bsp \
  ##OEROOT##/../meta-imx/meta-sdk \
  ##OEROOT##/../meta-imx/meta-ml \
  \
  ##OEROOT##/../meta-openembedded/meta-gnome \
  ##OEROOT##/../meta-openembedded/meta-networking \
  ##OEROOT##/../meta-openembedded/meta-filesystems \
  \
  ##OEROOT##/../meta-python2 \
  ##OEROOT##/../meta-browser \
  ##OEROOT##/../meta-clang \
  ##OEROOT##/../meta-rust \
  ##OEROOT##/../meta-qt5 \
  ##OEROOT##/../meta-qt4 \
  \
  ##OEROOT##/../meta-tn-imx-bsp \
  \
  ##OEROOT##/../meta-nxp-nfc \
  ##OEROOT##/../meta-virtualization \
  \
  ##OEROOT##/../meta-nxp-demo-experience \
"
