[Unit]
Description=enable lanbypass ethernet service

[Service]
Type=forking
StandardOutput=tty
TTYPath=/dev/ttymxc1
ExecStartPre=/bin/sleep 1
ExecStart=/bin/bash /usr/sbin/enable_lanbypass_eth.sh
ExecStop=/bin/bash /usr/sbin/disable_lanbypass_eth.sh

[Install]
WantedBy=multi-user.target
