# Workaround: fix bug that makes bluetooth headset/speaker unusable
[Unit]
Description=PulseAudio Sound Service
After=bluetooth.service

[Service]
Type=forking
ExecStart=/usr/bin/pactl load-module module-bluetooth-discover

[Install]
WantedBy=multi-user.target
