[Unit]
Description=Qcmbr Daemon
After=network-online.target
Wants=network-online.target

[Service]
Type=idle
ExecStart=/usr/sbin/Qcmbr
Restart=always
RestartSec=10
TimeoutSec=30

[Install]
WantedBy=multi-user.target